* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* body {
  margin: 0;
  padding: 0;

 
  background-image: url("./components/360_F_764557526_HlwV6rYpIxrfhrmlpTzl74INFoMmJs9Z.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;


  font-family: 'Arial', sans-serif;
  color: blueviolet;
} */

    /* hero-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    } */

.hero {
  background-size: cover;
  color: rgb(255, 255, 255);
  padding: 120px 0;
}

.product img {
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.display-1 {
  animation: float 3s ease-in-out infinite;
}



.slide-image {
  animation: slideLeftRight 4s ease-in-out infinite;
}

@keyframes slideLeftRight {
  0% {
    transform: translateX(-15px);
  }

  50% {
    transform: translateX(15px);
  }

  100% {
    transform: translateX(-15px);
  }
}